# Segredos
.env

# Pastas de dados dinâmicos e arquivos pesados
Audios_dailys/
transcricoes/
Atas/
config.json

# Ambientes virtuais (cada dev instala o seu)
venv/
env/

# Arquivos temporários do Python e do Sistema
__pycache__/
*.pyc
.DS_Store